doctype html
//if IE 8
  html.ie.ie8  
//if IE 9
  html.ie.ie9  
// [if gt IE 9] <!
html
  // <![endif]
  head
    meta(charset='utf-8')
    title Home
    // Mobile Metas
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // Google Fonts
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Raleway:100,200,300,700,800,900', rel='stylesheet', type='text/css')
    // Library CSS
    link(rel='stylesheet', href='/static/css/bootstrap.css')
    link(rel='stylesheet', href='/static/css/bootstrap-theme.css')
    link(rel='stylesheet', href='/static/css/fonts/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='/static/css/animations.css', media='screen')
    link(rel='stylesheet', href='/static/css/superfish.css', media='screen')
    link(rel='stylesheet', href='/static/css/revolution-slider/css/settings.css', media='screen')
    link(rel='stylesheet', href='/static/css/revolution-slider/css/extralayers.css', media='screen')
    link(rel='stylesheet', href='/static/css/prettyPhoto.css', media='screen')
    // Theme CSS
    link(rel='stylesheet', href='/static/css/style.css')
    // Skin
    link.colors(rel='stylesheet', href='/static/css/colors/orange.css')
    // Responsive CSS
    link(rel='stylesheet', href='/static/css/theme-responsive.css')
    // Favicons
    link(rel='shortcut icon', href='/static/img/ico/favicon.ico')
    link(rel='apple-touch-icon', href='/static/img/ico/apple-touch-icon.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/static/img/ico/apple-touch-icon-72.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/static/img/ico/apple-touch-icon-114.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/static/img/ico/apple-touch-icon-144.png')
    // The HTML5 shim, for IE6-8 support of HTML5 elements
    //if lt IE 9
      script(src='//html5shim.googlecode.com/svn/trunk/html5.js')
      script(src='/static/js/respond.min.js')
    //if IE
      link(rel='stylesheet', href='/static/css/ie.css')
  body.home
    .page-mask
      .page-loader
        .spinner
        |                 Loading...
    // Wrap
    .wrap
      // Header
      header#header
        // Main Header
        .main-header
          .container
            // TopNav
            .topnav.navbar-header
              a.navbar-toggle.down-button(data-toggle='collapse', data-target='.slidedown')
                i.fa.fa-angle-down.icon-current
            // /TopNav
            // Logo
            .logo.pull-left
              h1
                a(href='/pg/index.jade')
                  img.logo-color(src='/static/img/logos/piramit.jpg', alt='gallaxy', width='250', height='70')
            // /Logo
            // Mobile Menu
            .mobile.navbar-header
              a.navbar-toggle(data-toggle='collapse', href='.navbar-collapse')
                i.fa.fa-bars.fa-2x
            // /Mobile Menu
            // Menu Start
            nav.collapse.navbar-collapse.menu
              ul.nav.navbar-nav.sf-menu
                li
                  a.sf-with-ul(href='/pg/index.jade') Anasayfa
                li
                li
                  a.sf-with-ul(href='/pg/shop.jade') Ürünlerimiz 
                li
                  a.sf-with-ul(href='/pg/about-2.jade') Hakkımızda
                // <li><a href="portfolio-single.html" class="sf-with-ul">Single page</a></li>
                li
                  a.sf-with-ul(href='/pg/portfolio-single.jade') Bayilerimiz
                li
                  a.sf-with-ul(href='/pg/contact.jade') İletişim
            // /Menu
        // /Main Header
      // /Header
      // Main Section
      section#main
        .breadcrumb-wrapper
          .pattern-overlay
            .container
              .row
                .col-lg-6.col-md-6.col-xs-12.col-sm-6
                  h2.title 404 Not Found
                .col-lg-6.col-md-6.col-xs-12.col-sm-6
                  .breadcrumbs.pull-right
                    ul
                      li You are Now on:
                      li
                        a(href='index.jade') Home
                      li
                        a(href='#') Pages
                      li 404 Not Found
        // Main Content
        .content.margin-top60.margin-bottom60
          .container
            .row
              .col-lg-12.col-md-12.col-sm-12.col-xs-12
                h2.text-center Whoops... Sayfa Bulunamadı !!!
                #not-found
                  h2
                    | 404 
                    i.fa.fa-question
                .back-home
                  p
                    | Böyle bir sayfa yok.
                    br
                    |                                         Anasayfaya gitmek için lütfen 
                    a(href='/pg/index.jade') buraya tıklayın.
                  //
                    Search Widget
                    <div class="widget search-form">
                    <div class="input-group">
                    <input type="text" value="Arama..." onfocus="if(this.value=='Search...')this.value='';" onblur="if(this.value=='')this.value='Search...';" class="search-input form-control">
                    <span class="input-group-btn">
                    <button type="submit" class="subscribe-btn btn"><i class="fa fa-search"></i></button>
                    </span>
                    </div>
                    <!-- /input-group
                // /Search Widget
    // /Main Content
    // /Main Section
    // Footer
    footer#footer
      .pattern-overlay
          // Footer Top
          .footer-top(style='padding-top: 12px;padding-bottom: 15px;')
            .container
              .row
                // Yerlesim
                .col-lg-4.col-sm-4.col-md-6.col-xs-12
                  .text-center
                    .wow.swing
                      .contact-icon
                        a(href='/pg/contact')
                          i.fa.fa-map-marker.fa-3x
                      // end dm-icon-effect-1
                      p
                        | Adres: Gülsuyu Mah. Eski Üsküdar Cad. Cami sk. No:6
                        br
                        | Maltepe / İstanbul / Türkiye
                    // end service-icon
                  // end miniboxes
                // /col-lg-4
                .col-lg-4.col-sm-4.col-md-6.col-xs-12
                  .text-center
                    .wow.swing
                      .contact-icon
                        a(href='/pg/contact')
                          i.fa.fa-phone.fa-3x
                      p                      
                        strong Telefon:
                        |  (0216) 589 07 88
                        br
                        strong Telefon:
                        |  (0216) 589 19 55
                    // /service-icon
                  // /miniboxes
                // /col-lg-4
                .col-lg-4.col-sm-4.col-md-6.col-xs-12
                  .text-center
                    .wow.swing
                      .contact-icon
                        a(href='/pg/contact')
                          i.fa.fa-envelope-o.fa-3x
                      p
                        strong E-mail:
                        |  
                        br
                        |  piramitdus@hotmail.com
                    // /service-icon
                  // /miniboxes
                // /col-lg-4
              // Contact Details
        // /Footer Top
        // Footer Bottom
        .footer-bottom
          .container
            .row
              .col-lg-6.col-md-6.col-xs-12.col-sm-6
                p.credits
                  | © Copyright 2014 by 
                  a(href='#') FIFOLAB
                  | . All Rights Reserved.
              .col-lg-6.col-md-6.col-xs-12.col-sm-6
                ul.social.social-icons-footer-bottom
                  li.facebook
                    a(href='#', data-toggle='tooltip', title='Facebook')
                      i.fa.fa-facebook
                  li.twitter
                    a(href='#', data-toggle='tooltip', title='Twitter')
                      i.fa.fa-twitter
                  li.dribbble
                    a(href='#', data-toggle='tooltip', title='Dribble')
                      i.fa.fa-dribbble
                  li.linkedin
                    a(href='#', data-toggle='tooltip', title='LinkedIn')
                      i.fa.fa-linkedin
                  li.rss
                    a(href='#', data-toggle='tooltip', title='Rss')
                      i.fa.fa-rss
        // /Footer Bottom
    // /Footer
    // Modal
    section#modals
      // Login Modal
      #loginModal.modal.login.fade(tabindex='-1', role='dialog', aria-labelledby='loginModal', aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              h2#loginModalLabel.form-signin-heading.modal-title Login
            form#login(method='post')
              .modal-body
                fieldset
                  .row
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                      input#username.form-control(name='username', type='text', placeholder='Username', value='', required='')
                  .row
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                      input#email.form-control(type='email', name='email', placeholder='Email', value='', required='')
              .modal-footer
                a.pull-left(href='password-recovery.jade') (Lost Password?)
                button.btn.btn-default(type='button', data-dismiss='modal') Close
                button.btn.btn-color(type='button') Login
      // /Login Modal
      // Registration Modal
      #registrationModal.modal.register.fade(tabindex='-1', role='dialog', aria-labelledby='registrationModal', aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              h2#registrationModalLabel.form-signin-heading.modal-title Create a new account
            form#registration(method='post')
              .modal-body
                .row
                  .form-group
                    .col-md-6
                      input.form-control(type='text', value='', placeholder='First Name')
                    .col-md-6
                      input.form-control(type='text', value='', placeholder='Last Name')
                .row
                  .form-group
                    .col-md-12
                      input.form-control(type='text', value='', placeholder='E-mail Address')
                .row
                  .form-group
                    .col-md-6
                      input.form-control(type='password', value='', placeholder='Password')
                    .col-md-6
                      input.form-control(type='password', value='', placeholder='Re-enter Password')
              .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Close
                button.btn.btn-color(type='button') Register
      // /Registration Modal
    // Modal
    // Scroll To Top
    a.scrollup(href='#')
      i.fa.fa-angle-up
    // /Wrap
    // The Scripts
    script(src='/static/js/jquery.min.js')
    script(src='/static/js/jquery-migrate-1.0.0.js')
    script(src='/static/js/jquery-ui.js')
    script(src='/static/js/bootstrap.js')
    script(src='/static/js/revolution-slider/js/jquery.themepunch.plugins.min.js')
    script(src='/static/js/revolution-slider/js/jquery.themepunch.revolution.min.js')
    script(src='/static/js/jquery.parallax.js')
    script(src='/static/js/jquery.wait.js')
    script(src='/static/js/fappear.js')
    script(src='/static/js/modernizr-2.6.2.min.js')
    script(src='/static/js/jquery.bxslider.min.js')
    script(src='/static/js/jquery.prettyPhoto.js')
    script(src='/static/js/superfish.js')
    script(src='/static/js/tweetMachine.js')
    script(src='/static/js/tytabs.js')
    script(src='/static/js/jquery.gmap.min.js')
    script(src='/static/js/jquery.sticky.js')
    script(src='/static/js/jquery.countTo.js')
    script(src='/static/js/jflickrfeed.js')
    script(src='/static/js/jquery.knob.js')
    script(src='/static/js/imagesloaded.pkgd.min.js')
    script(src='/static/js/waypoints.min.js')
    script(src='/static/js/wow.js')
    script(src='/static/js/jquery.fitvids.js')
    script(src='/static/js/custom.js')
