doctype html
//if IE 8
  html.ie.ie8  
//if IE 9
  html.ie.ie9  
// [if gt IE 9] <!
html
  // <![endif]
  head
    meta(charset='utf-8')
    title Piramit Duş
    // Mobile Metas
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // Google Fonts
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Raleway:100,200,300,700,800,900', rel='stylesheet', type='text/css')
    // Library CSS
    link(rel='stylesheet', href='/static/css/bootstrap.css')
    link(rel='stylesheet', href='/static/css/bootstrap-theme.css')
    link(rel='stylesheet', href='/static/css/fonts/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='/static/css/animations.css', media='screen')
    link(rel='stylesheet', href='/static/css/superfish.css', media='screen')
    link(rel='stylesheet', href='/static/css/jquery.bxslider.css')
    link(rel='stylesheet', href='/static/css/prettyPhoto.css', media='screen')
    // Theme CSS
    link(rel='stylesheet', href='/static/css/style.css')
    // Skin
    link.colors(rel='stylesheet', href='/static/css/colors/orange.css')
    // Responsive CSS
    link(rel='stylesheet', href='/static/css/theme-responsive.css')
    // Favicons
    link(rel='shortcut icon', href='/static/img/ico/favicon.ico')
    // The HTML5 shim, for IE6-8 support of HTML5 elements
    //if lt IE 9
      script(src='//html5shim.googlecode.com/svn/trunk/html5.js')
      script(src='/static/js/respond.min.js')
    //if IE
      link(rel='stylesheet', href='/static/css/ie.css')
  body.home
    .page-mask
      .page-loader
        .spinner
        |                 Loading...
    // Wrap
    .wrap
      // Header
      header#header
        // Main Header
        .main-header
          .container
            // TopNav
            .topnav.navbar-header
              a.navbar-toggle.down-button(data-toggle='collapse', data-target='.slidedown')
                i.fa.fa-angle-down.icon-current
            // /TopNav
            // Logo
            .logo.pull-left
              h1
                a(href='/pg/index')
                  img.logo-color(src='/static/img/logos/piramit.jpg', alt='gallaxy', width='250', height='70')
            // /Logo
            // Mobile Menu
            .mobile.navbar-header
              a.navbar-toggle(data-toggle='collapse', href='.navbar-collapse')
                i.fa.fa-bars.fa-2x
            // /Mobile Menu
            // Menu Start
            nav.collapse.navbar-collapse.menu
              ul.nav.navbar-nav.sf-menu
                li
                  a#current(href='#') Anasayfa
                li
                li
                  a.sf-with-ul(href='/pg/shop') Ürünlerimiz 
                li
                  a.sf-with-ul(href='/pg/about-2') Hakkımızda
                // <li><a href="portfolio-single.html" class="sf-with-ul">Single page</a></li>
                li
                  a.sf-with-ul(href='/pg/checkout') Bayilerimiz
                li
                  a.sf-with-ul(href='/pg/contact') İletişim
            // /Menu
        // /Main Header
      // /Header
      // Main Section
      section#main
        // Title, Breadcrumb
        .breadcrumb-wrapper
          .pattern-overlay
            .container
              .row
                .col-lg-6.col-md-6.col-xs-12.col-sm-6
                  h2.title Portfolio Single Page
                .col-lg-6.col-md-6.col-xs-12.col-sm-6
                  .breadcrumbs.pull-right
                    ul
                      li Şu anda bu sayfadasınız:
                      li
                        a(href='/pg/index') Anasayfa
                      li
                        a(href='#') Ürünler
                      li Ürün İncele
        // Title, Breadcrumb
        // Main Content
        .content.margin-top40.margin-bottom40
          .container
            .row
              // Left Section
              .posts-block.col-lg-8.col-md-8.col-sm-8.col-xs-12
                // Recent work
                .recentwork_wrapper
                  // Slider
                  .gallery-image
                    .slider-wrapper.theme-default
                      ul.bxslider
                        li
                          img(src='/static/img/gallery/4.jpg', alt='')
                        li
                          img(src='/static/img/gallery/5.jpg', alt='')
                        li
                          img(src='/static/img/gallery/3.jpg', alt='')
                        li
                          img(src='/static/img/gallery/4.jpg', alt='')
                        li
                          img(src='/static/img/gallery/5.jpg', alt='')
                      #bx-pager
                        a(data-slide-index='0', href='')
                          img(src='/static/img/gallery/thumbs/1.jpg', alt='')
                        a(data-slide-index='1', href='')
                          img(src='/static/img/gallery/thumbs/2.jpg', alt='')
                        a(data-slide-index='2', href='')
                          img(src='/static/img/gallery/thumbs/3.jpg', alt='')
                        a(data-slide-index='3', href='')
                          img(src='/static/img/gallery/thumbs/4.jpg', alt='')
                        a(data-slide-index='4', href='')
                          img(src='/static/img/gallery/thumbs/5.jpg', alt='')
                    .clearfix
                    // /Slider
                  h3 Ürün Başlığı
                  .post-content.top-pad
                    p
                      | Ürün hakkında yazmak istediğiniz şeyler. Bla bla bla.. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                    br
                    p
                      | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                // /Recent work
              // /Left Section
              // Project Summary
              .col-lg-4.col-md-4.col-sm-4.col-xs-12.sidebar
                .widget
                  h3 Ürün Başlığı
                  p
                    | Yazmak istediğiniz şeyler. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                // Project Description End
          // Star
          .star
            .container
              .row.text-center
                .col-md-6.col-md-offset-3
                  .star-divider
                    .star-divider-icon
                      i.fa.fa-star
          // Star
          .row
            // Recent Work
            .portfolio
              .container
                .row
                  .portfolio-content
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                      .portfolio-title.text-center
                        h3 Recent Works
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12.no-isotope.portfolio-four-column
                      .grid
                        // Item 1
                        figure.effect-zoe.portfolio-border.web.jquery.item
                          a.portfolio-item-link(href='/static/img/portfolio/01.jpg', data-rel='prettyPhoto')
                            img(src='/static/img/gallery/6.jpg', alt='img1')
                          figcaption
                            h2
                              | Creative 
                              span Zoe
                            span
                              a(href='portfolio-single')
                                i.fa.fa-share
                            span
                              a.portfolio-item-link(href='/static/img/portfolio/01.jpg', data-rel='prettyPhoto')
                                i.fa.fa-paperclip
                            span
                              a(href='#')
                                i.fa.fa-heart
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        // /Item 1
                        // Item 2
                        figure.effect-zoe.portfolio-border.wp.css.item
                          a.portfolio-item-link(href='/static/img/portfolio/02.jpg', data-rel='prettyPhoto')
                            img(src='/static/img/gallery/5.jpg', alt='img2')
                          figcaption
                            h2
                              | Marchant 
                              span Mogul
                            span
                              a(href='portfolio-single')
                                i.fa.fa-share
                            span
                              a.portfolio-item-link(href='/static/img/portfolio/02.jpg', data-rel='prettyPhoto')
                                i.fa.fa-paperclip
                            span
                              a(href='#')
                                i.fa.fa-heart
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        // /Item 2
                        // Item 3
                        figure.effect-zoe.portfolio-border.php.jquery.wp.item
                          a.portfolio-item-link(href='/static/img/portfolio/03.jpg', data-rel='prettyPhoto')
                            img(src='/static/img/gallery/4.jpg', alt='img3')
                          figcaption
                            h2
                              | Pedaling 
                              span Tavern
                            span
                              a(href='portfolio-single')
                                i.fa.fa-share
                            span
                              a.portfolio-item-link(href='/static/img/portfolio/03.jpg', data-rel='prettyPhoto')
                                i.fa.fa-paperclip
                            span
                              a(href='#')
                                i.fa.fa-heart
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        // /Item 3
                        // Item 4
                        figure.effect-zoe.portfolio-border.wp.jquery.css.item
                          a.portfolio-item-link(href='/static/img/portfolio/04.jpg', data-rel='prettyPhoto')
                            img(src='/static/img/gallery/5.jpg', alt='img4')
                          figcaption
                            h2
                              | Create 
                              span Smart
                            span
                              a(href='portfolio-single')
                                i.fa.fa-share
                            span
                              a.portfolio-item-link(href='/static/img/portfolio/04.jpg', data-rel='prettyPhoto')
                                i.fa.fa-paperclip
                            span
                              a(href='#')
                                i.fa.fa-heart
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        // /Item 4
                      // /grid
                    .clearfix
            // /Recent Work
    // /Main Content
    // /Main Section
      // Footer
      footer#footer
        .pattern-overlay
          // Footer Top
          .footer-top(style='padding-top: 12px;padding-bottom: 15px;')
            .container
              .row
                // Yerlesim
                .col-lg-4.col-sm-4.col-md-6.col-xs-12
                  .text-center
                    .wow.swing
                      .contact-icon
                        a(href='/pg/contact')
                          i.fa.fa-map-marker.fa-3x
                      // end dm-icon-effect-1
                      p
                        | Adres: Gülsuyu Mah. Eski Üsküdar Cad. Cami sk. No:6
                        br
                        | Maltepe / İstanbul / Türkiye
                    // end service-icon
                  // end miniboxes
                // /col-lg-4
                .col-lg-4.col-sm-4.col-md-6.col-xs-12
                  .text-center
                    .wow.swing
                      .contact-icon
                        a(href='/pg/contact')
                          i.fa.fa-phone.fa-3x
                      p                      
                        strong Telefon:
                        |  (0216) 589 07 88
                        br
                        strong Telefon:
                        |  (0216) 589 19 55
                    // /service-icon
                  // /miniboxes
                // /col-lg-4
                .col-lg-4.col-sm-4.col-md-6.col-xs-12
                  .text-center
                    .wow.swing
                      .contact-icon
                        a(href='/pg/contact')
                          i.fa.fa-envelope-o.fa-3x
                      p
                        strong E-mail:
                        |  
                        br
                        |  piramitdus@hotmail.com
                    // /service-icon
                  // /miniboxes
                // /col-lg-4
              // Contact Details
        // /Footer Top
        // Footer Bottom
        .footer-bottom
          .container
            .row
              .col-lg-6.col-md-6.col-xs-12.col-sm-6
                p.credits
                  | © Copyright 2015 by 
                  a(href='#') Ozkan GOKSU
                  | . All Rights Reserved.
              .col-lg-6.col-md-6.col-xs-12.col-sm-6
                ul.social.social-icons-footer-bottom
                  li.facebook
                    a(href='#', data-toggle='tooltip', title='Facebook')
                      i.fa.fa-facebook
                  li.twitter
                    a(href='#', data-toggle='tooltip', title='Twitter')
                      i.fa.fa-twitter
                  li.dribbble
                    a(href='#', data-toggle='tooltip', title='Dribble')
                      i.fa.fa-dribbble
                  li.linkedin
                    a(href='#', data-toggle='tooltip', title='LinkedIn')
                      i.fa.fa-linkedin
                  li.rss
                    a(href='#', data-toggle='tooltip', title='Rss')
                      i.fa.fa-rss
        // /Footer Bottom
    // Scroll To Top
    a.scrollup(href='#')
      i.fa.fa-angle-up
    // /Wrap
    // The Scripts
    script(src='/static/js/jquery.min.js')
    script(src='/static/js/jquery-migrate-1.0.0.js')
    script(src='/static/js/jquery-ui.js')
    script(src='/static/js/bootstrap.js')
    script(src='/static/js/revolution-slider/js/jquery.themepunch.plugins.min.js')
    script(src='/static/js/revolution-slider/js/jquery.themepunch.revolution.min.js')
    script(src='/static/js/jquery.parallax.js')
    script(src='/static/js/jquery.wait.js')
    script(src='/static/js/fappear.js')
    script(src='/static/js/modernizr-2.6.2.min.js')
    script(src='/static/js/jquery.bxslider.min.js')
    script(src='/static/js/jquery.prettyPhoto.js')
    script(src='/static/js/superfish.js')
    script(src='/static/js/tweetMachine.js')
    script(src='/static/js/tytabs.js')
    script(src='/static/js/jquery.gmap.min.js')
    script(src='/static/js/jquery.sticky.js')
    script(src='/static/js/jquery.countTo.js')
    script(src='/static/js/jflickrfeed.js')
    script(src='/static/js/jquery.knob.js')
    script(src='/static/js/imagesloaded.pkgd.min.js')
    script(src='/static/js/waypoints.min.js')
    script(src='/static/js/wow.js')
    script(src='/static/js/jquery.fitvids.js')
    script(src='/static/js/custom.js')
    script(src='/static/js/simpleGallery/jquery.simpleGallery.js')
    script(src='/static/js/simpleGallery/jquery.simpleLens.js')
    script(src='/static/js/product.js')